<p>
  <strong>Full name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>NRIC number:</strong>
  <%= @customer.nric_num %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @customer.temperature %>
</p>

<!-- <%= link_to 'Edit', edit_customer_path(@customer) %> | -->
<!-- <%= link_to 'Back', customers_path %> -->

<!-- Redirect to new customers page -->
<div id="redirect-message">You will be redirected to the 
  <%= link_to "contact tracing form", new_customer_path %>
  in 3 seconds...
</div>
<meta HTTP-EQUIV="REFRESH" content="3; /customers/new">